# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Environment
.env
.venv/
venv/
ENV/
env/
*.env
venv_mlflow/

# Jupyter / IPython
.ipynb_checkpoints

# IDE/Editor
.vscode/
.idea/
.DS_Store

# Compiled files
*.exe
*.dll
*.obj
*.o
*.a
*.out

# Model artifacts
# *.joblib # 모든 .joblib 파일을 무시하려면 이 줄의 주석을 해제하세요.
# *.pkl
# *.h5

# 특정 모델 파일 무시
scaler copy.joblib
scaler.joblib
stack_model_56.joblib

# 특정 이전 버전 모델 디렉토리 무시
# (경로 수정: .gitignore 파일 위치 기준으로 상대 경로여야 합니다)
# Docker
.dockerignore

# MLflow
mlruns/
.mlflow_cache/

models/v1/
models/v2/

# Logs
*.log
*.csv
*.db

# Datafile
*.csv